
@{
    ViewBag.Title = "Actividades";
}

<h2>Actividades</h2>


@if (ViewBag.MensajeRegistro != null)
{
    if (ViewBag.MensajeRegistro == "No se pudo registrar socio en la actividad.")
    {
        <div class="alert alert-danger">
            @ViewBag.MensajeRegistro
        </div>
    }
    if (ViewBag.MensajeRegistro == "Se registro el socio en la actividad.")
    {
        <div class="alert alert-success">
            @ViewBag.MensajeRegistro
        </div>
    }
}

else
{
    <table class="table table-bordered">
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">CodigoActividad</th>
            <th class="text-center">FchHr Comienzo</th>
            <th class="text-center">Registrar</th>
        </tr>
        @foreach (var act in ViewBag.ListActiv)
        {

    <tr>
        <td class="text-center">@act.Nombre</td>
        <td class="text-center">@act.CodigoAct</td>
        <td class="text-center">@act.HoraComienzo</td>
        <td class="text-center">
            <form action="/Actividad/RegistroEnActividad" method="post">
                <input style="display: none" name="CodigoActividad" value=@act.CodigoAct />
                <input style="display: none" name="CedulaSocio" value=@ViewBag.Cedula />
                <input style="display: none" name="cuposDisp" value=@act.CupoActual />
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </td>
        @* <td class="text-center">@Html.ActionLink("Registrar", "RegistroEnActividad", "Actividad", new { CodigoActividad = act.CodigoAct, cedula = ViewBag.Cedula }, new { @class = "" })</td>*@
    </tr>
        }
    </table>
}